.create-employee-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: dodgerblue;
}

.create-employee-card {
    width: 500px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    text-align: center;
}

.create-employee-card h2 {
    margin-bottom: 20px;
    color: dodgerblue;
    font-size: 40px;
}

.employee-form input {
    width: 85%;
    padding: 18px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 16px;
}

.employee-form button {
    width: 94%;
    padding: 18px;
    margin: 15px auto;
    border-radius: 10px;
    color: white;
    background: green !important;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.employee-form button:hover {
    background: darkgreen !important;
}

.employee-form .backBtn {
    background: red !important;
}

.employee-form .backBtn:hover {
    background: darkred !important;
}

.create-employee-card .message {
    color: red;
}