.create-employee-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: dodgerblue;
}

.create-employee-card {
    width: 450px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    text-align: center;
}

.create-employee-card h2 {
    margin-bottom: 20px;
    color: royalblue;
}

.employee-form input {
    width: 85%;
    padding: 18px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 16px;
}

.employee-form button {
    width: 94%;
    padding: 18px;
    margin: 15px auto;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.employee-form .Link {
    background-color: red;
}