.employee-container {
    width: 80%;
    margin: 40px auto;
    background: dodgerblue;
    border-radius: 20px;
    overflow: hidden;
}

h1 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.employee-table {
    width: 100%;
    background: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    overflow: hidden;
}

.employee-table th, .employee-table td {
    padding: 20px;
    text-align: left;
    border: 1px solid lightgray;
}

.employee-table th {
    background: dodgerblue;
    color: white;
}

.employee-table tr:hover {
    background: lightgray;
}

button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #4caf50;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

button:hover {
    background: darkgreen
}

.employee-table .viewBtn {
    background: grey;
}

.employee-table .viewBtn:hover {
    background: dimgrey;
}

.employee-table .editBtn {
    background: dodgerblue;
}

.employee-table .editBtn:hover {
    background: blue;
}

.employee-table .delBtn {
    background: red
}

.employee-table .delBtn:hover {
    background: darkred;
}

.logoutBtn {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
}
.logoutBtn:hover {
    background: darkred;
}
