.view-employee-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: dodgerblue;
}

.view-employee-card {
    background: white;
    padding: 50px;
    border-radius: 20px;
    width: 400px;
    border: 1px solid grey;
}

.view-employee-card h2 {
    text-align: center;
    font-size: 30px;
}

.view-employee-card p {
    margin: 8px;
    font-size: 20px;
}

.backBtn {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    background: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.backBtn:hover {
    background: blue;
}